:root {
  --color-prymary: #ff6666;
  --color-borders: #f2f2f2;
}

body {
  font-family: system-ui, -apple-system;
}

/* Utilities classes */

.bg-primary {
  color: white;
  background-color: var(--color-prymary);
}